body {position: relative;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    background: linear-gradient(45deg, #07fdfd 20%, #96ff76 70%, #c9c9c9 100%);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.Soon {
    border: 5px double rgb(0, 247, 255);
    text-align: center;
    color: gold;
    font-weight: bolder;
    font-size: 200%;
    position: absolute;
    animation: moveAndColorChange 10s infinite;
    box-shadow: 0px 0px 10px 2px rgba(0, 247, 255, 0.5); /* Изначальная тень */
}

@keyframes moveAndColorChange {
    0% {
        top: 0%;
        /* left: 0%; */
        color: gold;
        border-color: rgb(0, 247, 255);
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 10px 2px rgba(0, 247, 255, 0.5);
    }
    25% {
        top: 0%;
        /* left: 0%; */
        color: crimson;
        border-color: yellow;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 0px 15px 3px rgba(0, 255, 255, 0.7);
    }
    50% {
        top: 50%;
        /* left: 50%; */
        color: lime;
        border-color: magenta;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 20px 4px rgba(0, 127, 255, 0.9);
    }
    75% {
        top: 50%;
        /* left: 0%; */
        color: cyan;
        border-color: orange;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0px 0px 25px 5px rgba(0, 247, 255, 1);
    }
    100% {
        top: 0%;
        /* left: 0%; */
        color: gold;
        border-color: rgb(0, 247, 255);
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 10px 2px rgba(0, 247, 255, 0.5);
    }
}
